.midwidth{
    width: 80%;
    height: 100%;
    z-index: 200;
    background:   linear-gradient(#D1BCE3,rgba(255, 255, 255, 0.6) );
    /* backdrop-filter: brightness(1.5); */
    margin: 4em 0;
    padding: 0 1.5em;

}
